[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
whitenoise = "*"
gunicorn = "*"
pytest-django = "*"
psycopg2-binary = "*"
django-admin-sortable2 = "*"
markdown = "*"
django-mptt = "*"
django-grappelli = "*"
martor = "*"
django-widget-tweaks = "*"
django-multiupload = "*"
django-request = "*"
icalendar = "*"
django-ical = "*"
django-hosts = "*"
djangorestframework = "*"
django-cors-headers = "*"
httpx = "*"
django-template-partials = "*"
sib-api-v3-sdk = "*"
django-compressor = "*"
django-permissions-policy = "*"
sentry-sdk = {extras = ["django"], version = "*"}
django-csp = "*"
dnspython = "*"
factory-boy = "*"

[dev-packages]
djlint = "*"
ruff = "*"
isort = "*"
django-upgrade= "*"
bandit = "*"

[requires]
python_version = "3.11"
