[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.2"
django-environ = "*"
whitenoise = "*"
gunicorn = "*"
pytest-django = "*"
psycopg2-binary = "*"
django-admin-sortable2 = "*"
markdown = "*"
django-mptt = "*"
django-grappelli = "*"
martor = "*"
django-widget-tweaks = "*"
django-multiupload = "*"
django-request = "*"
icalendar = "*"
django-ical = "*"
django-hosts = "*"
graphene-django = "*"
djangorestframework = "*"
django-cors-headers = "*"

[dev-packages]
black = "*"
djlint = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.9"
