{% load form_utils widget_tweaks %}
{{ form.media.css }}
{% if form.non_field_errors %}
    <div class="fr-alert fr-alert--error fr-mt-5v">
        <h3 class="fr-alert__title">Erreur</h3>
        {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
    </div>
{% endif %}
{% for field in form.hidden_fields %}{{ field }}{% endfor %}
{% for field in form.visible_fields %}
    <div class="fr-mb-4v">
        {% if field|is_checkbox %}
            <div class="fr-checkbox-group">
                {{ field }}
                <label class="fr-label" for="{{ field.id }}">
                    {{ field.label }}
                    {% if not field.field.required %}(non requis){% endif %}
                </label>
            </div>
        {% elif field|is_file_input %}
            <div class="fr-upload-group">
                <label class="fr-label" for="file-upload">
                    {{ field.label }}
                    {% if not field.field.required %}(non requis){% endif %}
                    <span class="fr-hint-text">Taille maximale : 2.5 Mo. Formats supportés : jpg, png, pdf, xls, doc.</span>
                </label>
                {{ field|add_class:"fr-upload" }}
            </div>
        {% else %}
            <div class="fr-input-group {% if field.errors %}fr-input-group--error{% endif %}">
                <label for="{{ field.id }}" class="fr-label">
                    {{ field.label }}
                    {% if not field.field.required %}(non requis){% endif %}
                </label>
                {{ field|add_class:"fr-input"|append_attr:"autocomplete:off"|add_error_class:"fr-input--error" }}
            {% endif %}
            {% if field.help_text %}<span class="help-block">{{ field.help_text|safe }}</span>{% endif %}
            {% if field.errors %}<p class="fr-error-text">{{ field.errors.0 }}</p>{% endif %}
        </div>
    {% endfor %}
