<div id="block" class="block  ">
    <div class="block__header">{{ object.title }}  </div>
    <div class="block__content">
        {{ object.markdown|safe }}
        {% for link in object.links.all %}
            <p>
                {% if link.link.id %}
                    <div hx-get="{% url  "page"  link.link.id %}" hx-target="#block" hx-swap="outerHTML"
                         class="block__link">
                        <button class="block__button">✓️</button>
                        {{ link.text }}
                    </div>
                {% endif %}
            </p>
        {% endfor %}

        {% if object.parents.count  %}
            <div hx-get="{% url  "page"  object.parents.first.page.pk %}" hx-target="#block" hx-swap="outerHTML " class="block__link">
                Retour
            </div>

        {% endif %}
    </div>
</div>
