.pointer {
cursor: pointer;
}

.rnd {
display: flex;
align-items: center;
justify-content: center;
flex-shrink: 0;
width: 2.25rem;
height: 2.25rem;
background-color: rgb(0, 0, 145);
color: white;
border-radius: 50%;
line-height: 1rem;
}

.contact-form{
margin-top: 24px;
padding: 12px;
width: 60%;
min-width: 300px;
}