/* global*/
*, html {
  scroll-behavior: smooth !important;
}

/*icons*/
.fr-icon-bsdd::before,
.fr-icon-bsdd::after {
  background-image: url("./td-icons/icon-bsdd.svg");
  -webkit-mask-image: url("./td-icons/icon-bsdd.svg");
  mask-image: url("./td-icons/icon-bsdd.svg");
}

.fr-icon-bsda::before,
.fr-icon-bsda::after {
  background-image: url("./td-icons/icon-bsda.svg");
  -webkit-mask-image: url("./td-icons/icon-bsda.svg");
  mask-image: url("./td-icons/icon-bsda.svg");
}

.fr-icon-bsdasri::before,
.fr-icon-bsdasri::after {
  background-image: url("./td-icons/icon-bsdasri.svg");
  -webkit-mask-image: url("./td-icons/icon-bsdasri.svg");
  mask-image: url("./td-icons/icon-bsdasri.svg");
}

.fr-icon-bsvhu::before,
.fr-icon-bsvhu::after {
  background-image: url("./td-icons/icon-bsvhu.svg");
  -webkit-mask-image: url("./td-icons/icon-bsvhu.svg");
  mask-image: url("./td-icons/icon-bsvhu.svg");
}

.fr-icon-bsff::before,
.fr-icon-bsff::after {
  background-image: url("./td-icons/icon-bsff.svg");
  -webkit-mask-image: url("./td-icons/icon-bsff.svg");
  mask-image: url("./td-icons/icon-bsff.svg");
}

.fr-icon--courses::before, .fr-icon--courses::after {
  --icon-size: 4rem;
  color: var(--background-action-high-blue-france);
}

.fr-grid-row--space-between {
  justify-content: space-between;
}

/* Header and nav */
.fr-header__logos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.fr-header__tools-links {
  align-items: center;
}

@media (width < 62em) {
  .fr-header__body-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .fr-header__service {
    box-shadow: none;
  }

  .fr-header__brand {
    background: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .header__baseline {
    margin-left: 1em;
  }

  .fr-header__menu-links {
    display: flex;
    flex-direction: column;
  }

  .fr-header__menu-links a, .fr-header__menu-links a.fr-link {
    margin: 0.5em 0;
    box-shadow: none;
    font-size: 16px;
  }
}

.fr-callout {
  margin-bottom: 0.5em;
}

.td-hero__illus {
  margin-top: 1em;

}

@media (width >= 62em) {
  .fr-header__brand-top {
    width: auto;
  }

  .fr-header__logos {
    width: auto;
  }
}

/* End header and nav */
/* sections */
.td-home-section {
  margin: 2rem 0;
}

/* section hero */
.td-hero {
  background-color: var(--background-contrast-blue-france);
  padding: 2rem 3rem;
}

.td-hero__text {
  display: flex;
  flex-direction: column;
}

.td-hero__actions {

  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  align-items: center;

  @media (width > 62em) {
    margin-top: auto;
    flex-direction: row;
    column-gap: 1em;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

/* section courses */
.courses__cards {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.course-card {
  display: flex;
  padding: 1rem;
  border: 1px solid var(--border-default-grey);
  flex-direction: column;
  justify-content: center;
  @media (width > 62em) {
    justify-content: space-between;
    flex-direction: row;
    row-gap: 0.5em;
  }
}

.course-card__title {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
}

.course-card__date {
  font-size: 1rem;
  margin-bottom: 0;
}

.course-card__actions {
  align-self: flex-end;
  display: flex;
  column-gap: 1em;
  @media (width < 62em) {
    margin-top: 1em;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5em;
  }
}

/* section videos */
.videos-links {
  gap: 1rem;

  @media (width > 62em) {
    height: 230px;
  }
}

.video-link {
  width: 280px;
  min-height: 230px;
  height: 230px;
  @media (width < 62em) {
    width: 100%;
  }
}

/* section social medias */
.social-medias {
  background-color: var(--background-contrast-blue-france);
  padding: 2rem 0;
}

/* section stats */
.td-stats-row {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  column-gap: 1em;
  @media (width < 62em) {
    margin-bottom: 0;
  }
}

.td-stat-item {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #F6F6F6;

  @media (width > 62em) {
    grid-column: span 3;
  }
}

.td-stat-item__value {
  font-size: 3rem;
  font-weight: 700;
  line-height: 56px;
}

.fr-callout.td-stat-item--text {
  padding: 4rem 3rem 3rem 1rem;

}

.fr-callout.td-stat-item--numbers {
  padding: 4rem 3rem 3rem 3rem;

}

/* utils - text */
.td-text-blue {
  color: var(--text-action-high-blue-france);
}

.td-text-center {
  text-align: center;
}

/* utils - grid */
.td-col-separator {
  border-left: 1px solid var(--text-action-high-blue-france);
}

