{% extends "website/base_website.html" %}
{% load static hosts %}
{% block main %}
    <div class="fr-container">
        <h1 class="td-text-blue">Nos partenaires</h1>
        <h2 class="td-text-blue">Éditeurs de logiciels partenaires</h2>
        <p>
            Ces solutions privées sont connectées à Trackdéchets par API.
            <br />
            Cela permet d'utiliser leur logiciel métier tout en transmettant
            automatiquement les données réglementaires à Trackdéchets, sans
            double saisie.
        </p>
        <p>
            Vous éditez un logiciel dont la connexion technique avec Trackdéchets est opérationelle ? N'hésitez pas à
            nous écrire pour demander à être visible en tant que partenaire de la plateforme.
        </p>
        <div class="fr-grid-row fr-grid-row--middle">
            <div class="fr-col">
                <img src="./static/partners/saas/Caktus.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/saas/Cfluide.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/saas/Egiteko.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/saas/Kerlog.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/saas/Kizeo.png" alt="">
            </div>
        </div>
        <div class="fr-grid-row fr-mt-12v fr-grid-row--middle">
            <div class="fr-col">
                <img src="./static/partners/saas/Caktus.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/saas/Cfluide.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/saas/Egiteko.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/saas/Kerlog.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/saas/Kizeo.png" alt="">
            </div>
        </div>
        <div class="fr-grid-row fr-mt-12v fr-grid-row--middle">
            <div class="fr-col">
                <img src="./static/partners/saas/Caktus.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/saas/Cfluide.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/saas/Egiteko.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/saas/Kerlog.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/saas/Kizeo.png" alt="">
            </div>
        </div>
        <h2 class="td-text-blue fr-mt-20v">Partenaires historiques</h2>
        <p>
            Depuis 2018, ces professionnels des déchets ou producteurs ont contribué à co-constuire la plateforme pour
            développer des fonctionalités fidèles aux pratiques du terrain.
        </p>
        <div class="fr-grid-row fr-mt-12v fr-grid-row--middle">
            <div class="fr-col">
                <img src="./static/partners/others/Alme.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/others/Arc%20en%20ciel%20recyclage.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/others/Chimirec.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/others/Colleco.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/others/Elo%20Énergie.png" alt="">
            </div>
        </div>
        <div class="fr-grid-row fr-mt-12v fr-grid-row--middle">
            <div class="fr-col">
                <img src="./static/partners/others/Alme.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/others/Arc%20en%20ciel%20recyclage.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/others/Chimirec.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/others/Colleco.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/others/Elo%20Énergie.png" alt="">
            </div>
        </div>
        <div class="fr-grid-row fr-mt-12v fr-grid-row--middle">
            <div class="fr-col">
                <img src="./static/partners/others/Alme.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/others/Arc%20en%20ciel%20recyclage.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/others/Chimirec.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/others/Colleco.png" alt="">
            </div>
            <div class="fr-col">
                <img src="./static/partners/others/Elo%20Énergie.png" alt="">
            </div>
        </div>
    </div>
{% endblock %}
