{% extends "website/base_website.html" %}
{% load static hosts %}
{% block title %}Partenaires - Trackdéchets{% endblock %}
{% block main %}
    <div class="fr-container fr-mt-10v">
        <h1 class="td-text-blue ">Nos partenaires</h1>
        <h2 class="td-text-blue">Éditeurs de logiciels partenaires</h2>
        <p>
            Ces solutions privées sont connectées à Trackdéchets par API.
            <br />
            Cela permet d'utiliser leur logiciel métier tout en transmettant
            automatiquement les données réglementaires à Trackdéchets, sans
            double saisie.
        </p>
        <p>
            Vous éditez un logiciel dont la connexion technique avec Trackdéchets est opérationelle ? N'hésitez pas à
            nous écrire pour demander à être visible en tant que partenaire de la plateforme.
        </p>
        <div class="fr-grid-row fr-grid-row--middle td-grid-row--gap-1 ">
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/saas/caktus.png' %}"
                     alt="Logo caktus"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/saas/cfluide.png' %}"
                     alt="Logo cfluide"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/saas/databilan.png' %}"
                     alt="Logo databilan"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/saas/dashdoc.png' %}"
                     alt="Logo dashdoc"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/saas/divaltoweavy.png' %}"
                     alt="Logo divalto weavy"
                     class="fr-responsive-img">
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--middle td-grid-row--gap-1">
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/saas/egiteko.png' %}"
                     alt="Logo egiteko"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/saas/fi-360.png' %}"
                     alt="Logo fi-360"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/saas/grizoo.png' %}"
                     alt="Logo grizoo"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/saas/hubency.png' %}"
                     alt="Logo hubency"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/saas/infiny.png' %}"
                     alt="Logo infiny"
                     class="fr-responsive-img">
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--middle td-grid-row--gap-1">
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/saas/interfast.png' %}"
                     alt="Logo interfast"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/saas/kerlog.png' %}"
                     alt="Logo kerlog"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/saas/kisio.png' %}"
                     alt="Logo kisio"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/saas/kizeo.png' %}"
                     alt="Logo kizeo"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/saas/organice.png' %}"
                     alt="Logo organice"
                     class="fr-responsive-img">
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--middle td-grid-row--gap-1">
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/saas/revoco.png' %}"
                     alt="Logo revoco"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-3 fr-p-4w">
                <img src="{% static 'medias/partners/saas/sogelink.png' %}"
                     alt="Logo sogelink"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-3 fr-p-4w">
                <img src="{% static 'medias/partners/saas/tennaxia.png' %}"
                     alt="Logo tennaxia"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md  fr-col-3 fr-p-4w">
                <img src="{% static 'medias/partners/saas/trinov.png' %}"
                     alt="Logo trinov"
                     class="fr-responsive-img">
            </div>
        </div>
        <h2 class="td-text-blue fr-mt-20v">Partenaires historiques</h2>
        <p>
            Depuis 2018, ces professionnels des déchets ou producteurs ont contribué à co-constuire la plateforme pour
            développer des fonctionalités fidèles aux pratiques du terrain.
        </p>
        <div class="fr-grid-row fr-grid-row--middle td-grid-row--gap-1 ">
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/alataroad.png' %}"
                     alt="Logo alataroad"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/alme.png' %}"
                     alt="Logo alme"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/arc-en-ciel-recyclage.png' %}"
                     alt="Logo arc-en-ciel-recyclage"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/chimirec.png' %}"
                     alt="Logo chimirec"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/clickeco.jpg' %}"
                     alt="Logo clickeco"
                     class="fr-responsive-img">
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--middle td-grid-row--gap-1">
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/colleco.png' %}"
                     alt="Logo colleco"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/elo-energie.png' %}"
                     alt="Logo elo-energie"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/federec.png' %}"
                     alt="Logo federec"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/g2d2.png' %}"
                     alt="Logo g2d2"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/hensel.png' %}"
                     alt="Logo hensel"
                     class="fr-responsive-img">
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--middle td-grid-row--gap-1">
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/isd.jpeg' %}"
                     alt="Logo isd"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/logo-veolia.png' %}"
                     alt="Logo logo-veolia"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/martin.png' %}"
                     alt="Logo martin"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/new-way.png' %}"
                     alt="Logo new-way"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/norauto.png' %}"
                     alt="Logo norauto"
                     class="fr-responsive-img">
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--middle td-grid-row--gap-1">
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/praxy.jpg' %}"
                     alt="Logo praxy"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/proserve.png' %}"
                     alt="Logo proserve"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/rebattery.png' %}"
                     alt="Logo rebattery"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/recynov.png' %}"
                     alt="Logo recynov"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/recytech.png' %}"
                     alt="Logo recytech"
                     class="fr-responsive-img">
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--middle td-grid-row--gap-1">
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/safetykleen.png' %}"
                     alt="Logo safetykleen"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/sarp-veolia.png' %}"
                     alt="Logo sarp-veolia"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/sarpi-veolia.png' %}"
                     alt="Logo sarpi-veolia"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/sclavo.png' %}"
                     alt="Logo sclavo"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/seche-environnement.png' %}"
                     alt="Logo seche-environnement"
                     class="fr-responsive-img">
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--middle td-grid-row--gap-1">
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/take-a-waste.png' %}"
                     alt="Logo take-a-waste"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/valdelia.png' %}"
                     alt="Logo valdelia"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/victoria-group.png' %}"
                     alt="Logo victoria-group"
                     class="fr-responsive-img">
            </div>
            <div class="fr-col-md fr-col-12 fr-p-4w">
                <img src="{% static 'medias/partners/others/waste-marketplace.jpg' %}"
                     alt="Logo waste-marketplace"
                     class="fr-responsive-img">
            </div>
        </div>
    {% endblock %}
