{% extends "website/base_website.html" %}
{% load static hosts %}
{% block title %}Mentions légales - Trackdéchets{% endblock %}
{% block main %}
    <div class="fr-container">
        <iframe src="https://statistiques.trackdechets.beta.gouv.fr/"
                class="iframe-stats"
                id="iframe-stats"></iframe>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script>
        function getHeight() {
            // compute iframe height from screen width
            const breakpoints = {
                small: "37.5rem", //600
                medium: "48rem", //772
                large: "62rem", //992
                extraLarge: "75rem", //1200
            };
            const iSmall = window.matchMedia(`(max-width: ${breakpoints.small})`);
            const isMedium = window.matchMedia(`(max-width: ${breakpoints.medium})`);
            const isLArge = window.matchMedia(`(max-width: ${breakpoints.large})`);

            if (iSmall.matches) {
                return 8870
            }
            if (isMedium.matches) {
                return 7600
            }
            if (isLArge.matches) {
                return 7000
            }

            return 6750
        }

    </script>
    <script>
        (function () {
            const height = getHeight()
            const iframe = document.getElementById("iframe-stats")
            iframe.height = `${height}px`;

        })();
    </script>
{% endblock %}
