name: Trackdechets Website CI

on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: admin
          POSTGRES_DB: td_website_test
        ports: [ '5432:5432' ]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Set locales
        run: sudo apt-get install -y tzdata locales && sudo locale-gen fr_FR && sudo dpkg-reconfigure --frontend=noninteractive locales
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v7

      - uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Pin Python version for uv
        run: uv python pin 3.13

      - name: Install python dependencies
        run: uv sync --frozen --group test

      - name: Ruff lint
        run: uv run --frozen  ruff check .

      - name: Ruff formatting
        run: uv run --frozen ruff format --check .

      - name: Ruff Linting
        run: uv run --frozen ruff check .

      - name: Bandit security checks
        run: uv run --frozen bandit --exit-zero -c pyproject.toml  -r src

      - name: Run Tests
        working-directory: src
        run: uv run --frozen pytest
        env:
          DJANGO_SETTINGS_MODULE: core.settings.test
          DATABASE_URL: postgresql://admin:postgres@localhost/td_website_test
          ADMIN_SLUG: admin
          WEBINARS_DOMAIN: formations
          BREVO_GENERAL_NEWSLETTER_ID: 1
          BREVO_TECH_NEWSLETTER_ID: 2
          BREVO_API_KEY: x
          BREVO_CATEGORY_FORMULAIRE_SITE_WEB: 2
          
